*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo img{
  width: 100px;
  height: 100px;
}
nav{
  display: none;
}
main{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
}
main img{
  width: 100%;
}
footer{
  background-color: black;
  color: white;
}

/* *media screens */
@media screen and (width >= 450px) {
  main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } 
}
@media screen and (width >= 800px) {
  .container{
    display: grid;
    
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  } 
 footer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
 }
 nav{
   display: contents;
   display: flex;
   gap: 20px;
   
  }
  nav a{
    text-decoration: none;
  }
  nav :nth-child(2){
   background-color: #040171;
  color: white;
  height: 40px;
  width: 100px;
  text-align: center;
  padding: 5px;
 }
 .bar{
  display: none;
 }
 /* main .image1{
  grid-column: 1/4;
 } */
 /* main .image2{
  grid-column: 2/4;
 }
 main .image1{
  grid-column: 1/4;
 } */
}